* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

body {
  background-color: white;
  width: 100%;
  height: 100vh;
}

.container {
  max-width: 1400px !important;
}

section .container .main-section .row .main-title {
  width: 100%;
  height: 100vh;
}

section .container .main-section .row .main-title .title p {
  color: white;
}

section .container .main-section .row .main-title .title p:nth-child(1) {
  font-size: 80px;
  color: #CEAB73;
  font-family: revert;
  font-weight: 700;
}

section .container .main-section .row .main-title .title p:nth-child(2) {
  color: white;
  font-size: 20px;
  margin-bottom: 3rem;
}

section .container .main-section .row .main-title .title p:nth-child(3) {
  text-align: center;
  max-width: 420px;
  font-size: 17px;
}

section .container .main-section .row .main-title .title button {
  background: none;
  border: solid 1px #CEAB73;
  display: block;
  width: 8rem;
  height: 3rem;
  margin-top: 3rem;
  cursor: pointer;
}

section .container .main-section .row .main-title .title button a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-family: sans-ser;
  display: block;
  width: 100%;
  height: 100%;
  background-color: transparent;
  padding: 9px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

section .container .main-section .row .main-title .title button a:hover {
  background-color: #CEAB73;
}

section .container .main-section .row .main-symbol {
  width: 100%;
  height: 100vh;
}

section .container .main-section .row .main-symbol .symbol {
  width: 50vh;
  border: solid 2px #CEAB73;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 100%;
  -webkit-animation: rotate-center 3s linear infinite both;
          animation: rotate-center 3s linear infinite both;
}

section .container .main-section .row .main-symbol .symbol p:nth-child(1) {
  color: white;
  font-size: 100px;
  font-weight: 600;
}

section .container .main-section .row .main-symbol .symbol p:nth-child(2) {
  color: white;
}

section {
  width: 100%;
  height: auto;
  background-image: url(../ui/Backthree.jpg);
  background-attachment: scroll;
  background-clip: border-box;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 991px) {
  section .container .main-section .row .main-symbol .symbol {
    border: none !important;
  }
}

@media (max-width: 765px) {
  section {
    width: 100%;
    height: 100vh !important;
    background-image: url(../ui/Backthree.jpg);
    background-attachment: scroll;
    background-clip: border-box;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section .container .main-section .row .main-title {
    width: 100%;
    height: auto;
  }
  section .container .main-section .row .main-title .title {
    margin-bottom: 2rem;
  }
  section .container .main-section .row .main-symbol {
    width: 100%;
    height: auto;
  }
  section .container .main-section .row .main-symbol .symbol {
    border: none !important;
    -webkit-animation: none;
            animation: none;
    height: auto;
  }
}

@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*# sourceMappingURL=main.css.map */