@font-face {
  font-family: iranSans;
  src: url(../font/IRANSans.ttf);
}

@font-face {
  font-family: iranSansmed;
  src: url(../font/IRANSans_Medium.ttf);
}

@font-face {
  font-family: iranSansbold;
  src: url(../font/IRANSans_Bold.ttf);
}

header .header-container .container .nav-container {
  position: relative;
  top: 30px;
  width: 100%;
  height: 10vh;
}

header .header-container .container .nav-container .nav-ju {
  width: 100%;
  height: 100%;
}

header .header-container .container .nav-container .nav-ju .nav-logo img {
  height: 35px;
}

header .header-container .container .nav-container .nav-ju .nav-button .header-button button {
  display: block;
  width: 200px;
  height: 55px;
  border: none;
  background-color: white;
}

header .header-container .container .nav-container .nav-ju .nav-button .header-button button a {
  color: black;
  font-family: iranSans;
  display: block;
  width: 200px;
  height: 55px;
  padding: 12px;
  text-decoration: none;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

header .header-container .container .nav-container .nav-ju .nav-button .header-button button a:hover {
  background-color: #d9b478;
  color: white;
}

header .header-container .container .nav-container .nav-ju .nav-button .header-icon {
  margin-top: -5px;
}

header .header-container .container .nav-container .nav-ju .nav-button .header-icon .icon-container {
  display: inline-block;
  cursor: pointer;
  border: solid 1px white;
  border-radius: 110%;
  padding: 4px 7px;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

header .header-container .container .nav-container .nav-ju .nav-button .header-icon .bar1,
header .header-container .container .nav-container .nav-ju .nav-button .header-icon .bar2,
header .header-container .container .nav-container .nav-ju .nav-button .header-icon .bar3 {
  width: 23px;
  height: 2px;
  background-color: white;
  margin: 6px 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

header .header-container .container .nav-container .nav-ju .nav-button .header-icon .change .bar1 {
  -webkit-transform: rotate(-46deg) translate(-4px, 3px);
          transform: rotate(-46deg) translate(-4px, 3px);
}

header .header-container .container .nav-container .nav-ju .nav-button .header-icon .change .bar2 {
  opacity: 0;
}

header .header-container .container .nav-container .nav-ju .nav-button .header-icon .change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

header .header-container .container .nav-container .nav-ju .nav-button .header-icon #trigger-overlay {
  background: none;
  border: none;
}

header .header-container .container .nav-container .nav-ju .nav-button .header-icon #trigger-overlay:focus {
  outline: none;
}

header .header-container .container .main-header {
  position: relative;
  top: 85px;
  width: 100%;
}

header .header-container .container .main-header .header .row .text-header {
  width: 100%;
  height: 500px;
}

header .header-container .container .main-header .header .row .text-header p:nth-child(1) {
  color: white;
  font-family: iranSans;
  font-size: 16px;
}

header .header-container .container .main-header .header .row .text-header p:nth-child(2) {
  color: white;
  font-family: iranSansbold;
  font-size: 35px;
  max-width: 254px;
  margin-bottom: 20px;
}

header .header-container .container .main-header .header .row .text-header p:nth-child(3) {
  color: white;
  font-family: iranSans;
  max-width: 406px;
  text-align: justify;
  line-height: 35px;
  font-size: 20px;
}

header .header-container .container .main-header .header .row .text-header button {
  width: 150px;
  height: 50px;
  margin-top: 15px;
  margin-bottom: 52px;
  background: white;
  border: none;
}

header .header-container .container .main-header .header .row .text-header button a {
  color: black;
  font-family: iranSans;
  text-decoration: none;
  display: block;
  width: 150px;
  height: 50px;
  padding: 12px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

header .header-container .container .main-header .header .row .text-header button a:hover {
  background-color: #d9b478;
  color: white;
}

header .header-container .container .main-header .header .row .header-background .img video {
  width: 95%;
  border-radius: 15px;
}

main .main-description .container {
  max-width: 1500px;
}

main .main-description .description {
  width: 100%;
  height: 500px;
  position: relative;
  top: 100px;
}

main .main-description .description p:nth-child(1) {
  font-family: iranSansbold;
  font-size: 40px;
  max-width: 300px;
  text-align: center;
  line-height: 60px;
  margin-bottom: 45px;
}

main .main-description .description p:nth-child(2) {
  font-family: iranSans;
  text-align: center;
  max-width: 640px;
  font-size: 20px;
  line-height: 37px;
}

main .main-description .description-slider {
  width: 100%;
  height: auto;
}

main .main-description .description-slider .owl-carousel .owl-dots.disabled,
main .main-description .description-slider .owl-carousel .owl-carousel .owl-nav {
  display: none !important;
}

main .main-description .description-slider .owl-carousel .post .item {
  border-radius: 15px;
  width: 100%;
  height: 100%;
}

main .main-description .description-slider .owl-carousel .post .item img {
  border-radius: 15px;
  height: 100%;
  border: solid 3px #CEAB73;
}

main .main-description .description-slider .owl-carousel .post p {
  font-family: iranSans;
  font-size: 16px;
  margin-right: 10px;
}

main .main-Services .Services-container {
  width: 100%;
  position: relative;
  top: 120px;
}

main .main-Services .Services-container .container .Services p:nth-child(1) {
  color: white;
  font-family: iranSansmed;
  font-size: 27px;
  margin-bottom: 10px;
}

main .main-Services .Services-container .container .Services p:nth-child(2) {
  color: white;
  font-family: iranSansbold;
  font-size: 40px;
}

main .main-Services .Services-container .container .Services-items {
  position: relative;
  top: 30px;
  width: 100%;
}

main .main-Services .Services-container .container .Services-items .item {
  width: 100%;
  height: auto;
}

main .main-Services .Services-container .container .Services-items #item1 .Services-text p {
  font-size: 24px;
  color: white;
  font-family: iranSans;
  text-align: justify;
  max-width: 332px;
  margin-top: 3rem;
}

main .main-Services .Services-container .container .Services-items #item1 .Services-image img {
  height: 200px !important;
  cursor: pointer;
}

main .main-Services .Services-container .container .Services-items #item2 {
  margin-top: 30px;
}

main .main-Services .Services-container .container .Services-items #item2 .Services-text p {
  font-size: 24px;
  color: white;
  font-family: iranSans;
  text-align: justify;
  line-height: 45px;
}

main .main-Services .Services-container .container .Services-items #item2 .Services-text span {
  font-size: 20px;
}

main .main-Services .Services-container .container .Services-items #item2 .Services-image img {
  height: 200px !important;
  cursor: pointer;
}

main .main-Services .Services-container .container .Services-items #item3 {
  margin-top: 30px;
}

main .main-Services .Services-container .container .Services-items #item3 .Services-text p {
  font-size: 24px;
  color: white;
  font-family: iranSans;
  text-align: justify;
  line-height: 49px;
}

main .main-Services .Services-container .container .Services-items #item3 .Services-text span {
  font-size: 20px;
}

main .main-Services .Services-container .container .Services-items #item3 .Services-image img {
  height: 150px !important;
  cursor: pointer;
}

main .main-Services .Services-container .container .Services-items #item4 .Services-text {
  margin-top: 4rem;
}

main .main-Services .Services-container .container .Services-items #item4 .Services-text p {
  font-size: 24px;
  color: white;
  font-family: iranSans;
  text-align: justify;
  line-height: 35px;
}

main .main-Services .Services-container .container .Services-items #item4 .Services-text span {
  font-size: 20px;
}

main .main-Services .Services-container .container .Services-items #item4 .Services-image img {
  height: 198px !important;
  cursor: pointer;
}

footer .footer-container {
  width: 50%;
  height: 100%;
}

footer .footer-container .footer-text {
  position: relative;
  top: 4rem;
  margin-right: 60px;
}

footer .footer-container .footer-text p:nth-child(1) {
  font-family: iranSansmed;
  font-size: 25px;
}

footer .footer-container .footer-text p:nth-child(2) {
  font-family: iranSansbold;
  max-width: 277px;
  font-size: 30px;
  text-align: justify;
}

footer .footer-container .footer-button {
  margin-top: 140px;
  margin-bottom: 90px;
}

footer .footer-container .footer-button button {
  width: 550px;
  height: 50px;
  background: #282828;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .footer-container .footer-button button a {
  color: white;
  font-family: iranSans;
  text-decoration: none;
  display: block;
  width: 550px;
  height: 50px;
  padding: 12px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

footer .footer-container .footer-button button a:hover {
  background-color: #d9b478;
  color: white;
}

footer .footer-container .footer-button p {
  font-size: 25px !important;
  margin-top: 50px;
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  direction: rtl;
}

header {
  width: 100%;
  height: 785px;
  background-image: url(../image/P1_Cube.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}

header .container {
  max-width: 1400px !important;
}

main .main-description {
  width: 100%;
  height: 950px;
  background-image: url(../image/P2_Cube.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}

main .main-Services {
  width: 100%;
  height: 1200px;
  background-image: url(../image/P3_Cube.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}

footer {
  width: 100%;
  height: 770px;
  background-image: url(../image/Contact.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}

@media (max-width: 1200px) {
  main .main-description {
    height: auto !important;
  }
  footer .footer-container {
    width: 50%;
    height: 100%;
  }
  footer .footer-container .footer-text {
    position: relative;
    top: 4rem;
    margin-right: 60px;
  }
  footer .footer-container .footer-text p:nth-child(1) {
    font-family: iranSansmed;
    font-size: 25px;
  }
  footer .footer-container .footer-text p:nth-child(2) {
    font-family: iranSansbold;
    max-width: 277px;
    font-size: 30px;
    text-align: justify;
  }
  footer .footer-container .footer-button {
    margin-top: 78px;
    margin-bottom: 90px;
  }
  footer .footer-container .footer-button button {
    width: 80% !important;
    height: 50px;
    background: #282828;
    border: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .footer-container .footer-button button a {
    color: white;
    font-family: iranSans;
    text-decoration: none;
    display: block;
    width: 550px !important;
    height: 50px;
    padding: 12px !important;
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
  }
  footer .footer-container .footer-button button a:hover {
    background-color: #d9b478;
    color: white;
  }
  footer .footer-container .footer-button p {
    font-size: 25px !important;
    margin-top: 50px;
    font-weight: 700;
  }
}

@media (max-width: 992px) {
  header .header-container .container .nav-container .nav-ju .nav-logo img {
    height: 35px;
  }
  header .header-container .container .main-header .header .row .header-background .img {
    width: 100%;
    margin-bottom: 4rem;
  }
  header .header-container .container .main-header .header .row .text-header p:nth-child(1) {
    font-size: 17px;
  }
  header .header-container .container .main-header .header .row .text-header p:nth-child(2) {
    font-size: 30px;
    max-width: none !important;
    text-align: start;
  }
  header .header-container .container .main-header .header .row .text-header p:nth-child(3) {
    font-size: 18px;
    text-align: start;
  }
  main .main-description {
    height: auto !important;
  }
  main .main-description .description p:nth-child(1) {
    font-family: iranSansbold;
    font-size: 31px;
    max-width: none;
    text-align: center;
    line-height: 60px;
    margin-bottom: 45px;
  }
  main .main-description .description p:nth-child(2) {
    font-size: 18px;
  }
  main .main-description .description-slider .owl-carousel .post .item {
    margin: 0 !important;
  }
  main .main-Services {
    height: 1220px !important;
  }
  main .main-Services .Services-container {
    top: 100px !important;
  }
  main .main-Services .Services-container .container .Services p:nth-child(1) {
    font-size: 20px;
  }
  main .main-Services .Services-container .container .Services p:nth-child(2) {
    font-size: 32px;
  }
  main .main-Services .Services-container .container .Services-items #item1 {
    margin-bottom: 0px !important;
  }
  main .main-Services .Services-container .container .Services-items #item1 .Services-text p {
    font-size: 22px;
    color: white;
    font-family: iranSans;
    text-align: justify;
    max-width: 213px;
  }
  main .main-Services .Services-container .container .Services-items #item1 .Services-image img {
    height: 180px !important;
  }
  main .main-Services .Services-container .container .Services-items #item2 .Services-text p {
    font-size: 22px;
    color: white;
    font-family: iranSans;
    text-align: justify;
    line-height: 38px;
  }
  main .main-Services .Services-container .container .Services-items #item2 .Services-image img {
    height: 180px !important;
  }
  main .main-Services .Services-container .container .Services-items #item3 .Services-text p {
    font-size: 22px;
    color: white;
    font-family: iranSans;
    text-align: center;
    line-height: 45px;
  }
  main .main-Services .Services-container .container .Services-items #item3 .Services-image img {
    height: 180px !important;
  }
  main .main-Services .Services-container .container .Services-items #item4 {
    margin-top: 0px !important;
  }
  main .main-Services .Services-container .container .Services-items #item4 .Services-text {
    margin-top: 4rem;
  }
  main .main-Services .Services-container .container .Services-items #item4 .Services-text p {
    font-size: 22px;
    color: white;
    font-family: iranSans;
    text-align: center;
  }
  main .main-Services .Services-container .container .Services-items #item4 .Services-image img {
    height: 180px !important;
  }
  footer {
    width: 100% !important;
    background-image: url(../image/background.svg) !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    height: 100% !important;
  }
  footer .footer-container {
    width: 100% !important;
    height: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .footer-container .footer-text {
    top: 0rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    margin-top: 92px;
    margin-right: 0;
    width: 100%;
  }
  footer .footer-container .footer-text p:nth-child(1) {
    font-family: iranSansmed;
    font-size: 25px;
    color: white;
  }
  footer .footer-container .footer-text p:nth-child(2) {
    font-family: iranSansbold;
    max-width: 277px;
    font-size: 25px;
    text-align: center;
    max-width: 350px !important;
    color: white;
  }
  footer .footer-container .footer-button {
    margin-top: 50px;
    width: 100%;
    margin-bottom: 92px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .footer-container .footer-button button {
    width: 100% !important;
    height: 50px;
    background: white;
    border: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .footer-container .footer-button button a {
    color: black;
    font-family: iranSans;
    text-decoration: none;
    display: block;
    width: 100% !important;
    height: 50px;
    padding: 8px;
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
  }
  footer .footer-container .footer-button button a:hover {
    background-color: #d9b478;
    color: white;
  }
  footer .footer-container .footer-button p {
    font-size: 25px !important;
    margin-top: 50px;
    font-weight: 700;
  }
}

@media (max-width: 767px) {
  header {
    height: auto !important;
  }
  header .header-container .container .nav-container .nav-ju .nav-logo img {
    height: 30px;
  }
  header .header-container .container .main-header {
    top: 0px !important;
  }
  header .header-container .container .main-header .header .row .header-background .img {
    width: 100%;
  }
  header .header-container .container .main-header .header .row .text-header p:nth-child(1) {
    font-size: 17px;
  }
  header .header-container .container .main-header .header .row .text-header p:nth-child(2) {
    font-size: 25px;
    max-width: 300px;
    text-align: center;
  }
  header .header-container .container .main-header .header .row .text-header p:nth-child(3) {
    font-size: 17px;
    text-align: center;
  }
  main .main-description {
    height: auto !important;
  }
  main .main-description .description {
    top: 0;
  }
  main .main-description .description p:nth-child(1) {
    font-family: iranSansbold;
    font-size: 26px;
    max-width: none;
    text-align: center;
    line-height: 40px;
    margin-bottom: 45px;
  }
  main .main-description .description p:nth-child(2) {
    font-size: 20px;
  }
  main .main-description .description-slider .owl-carousel .post .item {
    margin: 0 !important;
  }
  main .main-Services {
    height: 1570px !important;
  }
  main .main-Services .Services-container {
    top: 100px !important;
  }
  main .main-Services .Services-container .container .Services p:nth-child(1) {
    font-size: 20px;
  }
  main .main-Services .Services-container .container .Services p:nth-child(2) {
    font-size: 32px;
  }
  main .main-Services .Services-container .container .Services-items #item1 .Services-text p {
    font-size: 20px;
    color: white;
    font-family: iranSans;
    text-align: center;
    max-width: 358px;
    margin-top: 1rem;
  }
  main .main-Services .Services-container .container .Services-items #item1 .Services-image img {
    height: 180px !important;
  }
  main .main-Services .Services-container .container .Services-items #item2 .Services-text p {
    font-size: 20px;
    color: white;
    font-family: iranSans;
    text-align: center;
    max-width: none;
    line-height: 45px;
    margin-top: 0rem !important;
  }
  main .main-Services .Services-container .container .Services-items #item2 .Services-image img {
    height: 200px !important;
  }
  main .main-Services .Services-container .container .Services-items #item3 .Services-text p {
    font-size: 21px;
    color: white;
    font-family: iranSans;
    text-align: center;
    line-height: 35px;
  }
  main .main-Services .Services-container .container .Services-items #item3 .Services-image img {
    height: 150px !important;
  }
  main .main-Services .Services-container .container .Services-items #item4 .Services-text {
    margin-top: 2rem !important;
  }
  main .main-Services .Services-container .container .Services-items #item4 .Services-text p {
    font-size: 21px;
    color: white;
    font-family: iranSans;
    text-align: center;
    line-height: 17px;
  }
  main .main-Services .Services-container .container .Services-items #item4 .Services-image img {
    height: 180px !important;
  }
  footer {
    width: 100% !important;
    background-image: url(../image/background.svg) !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    height: 100% !important;
  }
  footer .footer-container {
    width: 100% !important;
    height: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .footer-container .footer-text {
    top: 0rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    margin-top: 92px;
    margin-right: 0;
    width: 100%;
  }
  footer .footer-container .footer-text p:nth-child(1) {
    font-family: iranSansmed;
    font-size: 25px;
    color: white;
  }
  footer .footer-container .footer-text p:nth-child(2) {
    font-family: iranSansbold;
    max-width: 277px;
    font-size: 25px;
    text-align: center;
    max-width: 350px !important;
    color: white;
  }
  footer .footer-container .footer-button {
    margin-top: 50px;
    width: 100%;
    margin-bottom: 92px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .footer-container .footer-button button {
    width: 100% !important;
    height: 50px;
    background: white;
    border: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .footer-container .footer-button button a {
    color: black;
    font-family: iranSans;
    text-decoration: none;
    display: block;
    width: 100% !important;
    height: 50px;
    padding: 8px;
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
  }
  footer .footer-container .footer-button button a:hover {
    background-color: #d9b478;
    color: white;
  }
  footer .footer-container .footer-button p {
    font-size: 25px !important;
    margin-top: 50px;
    font-weight: 700;
  }
}
/*# sourceMappingURL=main.css.map */