* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    direction: rtl;
}

main {
    background-image: url(../image/P4_Cube_page-2.png);
    width: 100%;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-color: black;
    opacity: 0.9;
    .container {
        max-width: 1400px !important;
    }
    .main-text {
        .text-container {
            position: relative;
            margin-top: 135px;
        }
    }
    a:focus {
        outline: none;
    }
}

footer {
    width: 100%;
    height: 770px;
    background-image: url(../image/Contact.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
}