@font-face {
    font-family: iranSans;
    src: url(../font/IRANSans.ttf);
}

@font-face {
    font-family: iranSansmed;
    src: url(../font/IRANSans_Medium.ttf);
}

@font-face {
    font-family: iranSansbold;
    src: url(../font/IRANSans_Bold.ttf);
}